<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF5v-dYH71E-E7dkD1F7eDYMzIVGm8IVA</string>
	<key>GCM_SENDER_ID</key>
	<string>197245392375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.googadev.elkitap</string>
	<key>PROJECT_ID</key>
	<string>elkitap</string>
	<key>STORAGE_BUCKET</key>
	<string>elkitap.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197245392375:ios:d7c5b1e1a2e1c5b3810af2</string>
</dict>
</plist>